// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  width: 200px
}

body {
 padding-top: 70px; 
 font-family: Papyrus,fantasy;
 background-image: url('tileable_wood_texture.png');
}